.false{
	height: 0px;
	overflow: hidden;
}
.attribute-cont{
    border-bottom: 1px solid #808080;
    margin-bottom: 35px;
	transition: all 0.25s ease-in;
	width: 95%;
	margin-left: 30px;
    background: #eee;
}
.attribute-cont .check-box-cont{
	font-size: 13px;
}
.attribute-cont input[type="checkbox"] + label{
	width: 90px;
	height: 22px;
	line-height: 22px;
}
.attribute-list{
	margin-bottom: 10px;
}
.btn-not-selected {
	background-color: #414141;
    color: #fff;
}
.btn.focus, .btn:focus, .btn:hover {
    color: #fff;
}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
	outline:none;
	outline-offset: 0;
}